[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/boost/asio"]
	path = 3rdparty/boost/asio
	url = https://github.com/boostorg/asio.git
[submodule "3rdparty/tclap"]
	path = 3rdparty/tclap
	url = https://github.com/mirror/tclap.git
	branch = 1.4
[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
